<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .mainDenegado {
        display: flex;
    }

    .imgDenegado {
        width: 100%;
        height: 100vh;
        max-width: 100%;
    }
</style>

<main class="mainDenegado">
    <img class="imgDenegado" src="http://localhost:4000/static/images/accesoDenegado.png" alt="">
</main>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("nav").remove()

        setTimeout(() => {
            window.location.href = "http://localhost:4000/home/"
        }, 10000)
    })
</script>