<h3>Productos</h3>


<!-- <h1 id="mensajeBienvenida"></h1>  -->

{{#if nombre}}
  <h1>Bienvenido/a, {{nombre}}</h1>
{{/if}}

<div id="contenedorProductos"></div>

{{#if nombre}}
    <button id="logout"></button>
{{/if}}

