*{
    box-sizing: border-box;
}

.contenedorNav{
    display: flex;
    max-width: 100%;
    width: 100%;
    background-color: rgb(28, 194, 194);
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

a{
    color: black;
    text-decoration: none;
    text-transform: none;
    font-family: roboto-regular;
    font-size: 25px;
}
